<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!--icon lib-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="/admin/css/header.css" />
    <link rel="stylesheet" href="/admin/css/steps.css" />
    <link rel="stylesheet" href="/admin/css/publish.css" />
</head>

<body>
    <header>
        <div>
            <h2>JY<span class="fas fa-eye"></span>TI OPTICIAN</h2>
            <p>Find your perfect eyewear</p>
        </div>
    </header>
    <div class="images">
        <img src="assets/1.jpg">
        <img src="assets/1.jpg">
        <img src="assets/1.jpg">
    </div>
    <h3>Eyeglasses</h3>
    <span class="price">Rs 899</span>
    <h4>Product Details</h4>
    <ul class="product-detail">
        <li><span>Collection</span>&nbsp;&nbsp;<span>Eye glasses</span></li>
        <li><span>Brand</span>&nbsp;&nbsp;<span>Rayban</span></li>
        <li><span>Model</span>&nbsp;&nbsp;<span>VC-2324</span></li>
        <li><span>Frame sizes</span>&nbsp;&nbsp;<span>medium</span></li>
    </ul>
</body>

</html>