html {
  height: 100%;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}
header {
  width: 90%;
  padding: 5%;
  background-size: 100%;
  height: fit-content;
}
header > img {
  width: 20%;
}
header > div > h2 {
  margin-bottom: 0;
  color: #f44336;
}
header > div > p {
  margin-top: 0;
  color: grey;
}

.glasses {
  width: 95%;
  margin:2.5%;
  padding: 0;
}
.glasses > h3 {
  font-weight:500;
  margin: 10px 2.5%;
  text-align: center;
  color:grey;
}

.glasses > .categories {
  list-style: none;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin:0;
}
.glasses > .categories > li {
  width:40%;
  margin:5%;
  text-align: center;
}
.glasses > .categories > li > img {
  width: 100%;
}
.glasses > .categories > li > h4 {
  margin: 0 auto;
  color: #333;
  font-weight:500;
}

/*brands*/
.glasses > .brands {
  text-align: center;
  list-style: none; 
  padding:0;
}

.glasses > .brands > li {
  display: inline-block;
  margin:2.5%;
}

/*servces*/
.service > p {
    margin:10px 2.5%;
    font-size: 1rem;
    color:#333;
}
.service > ul {
  display: flex;
  list-style: none;
  margin-top: 0;
  padding: 0 2.5%;
}
.service > ul > li {
  width: fit-content;
  background-color:#f44336;
  color: white;
  border-radius: 5px;
  margin: 10px 2.5% 0 0;
  padding: 10px 2.5%;
}

footer {
  width:100%;
  margin-top: auto;
  background-color: #333;
}
footer > p {
  text-align: center;
  width:100%;
  margin:0;
  padding:20px 0;
  background-color: #1b1b1b;
  color: grey;
}
.c1 {
  width: 90%;
  padding:5%;
}
#owner {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 5%;
}
#owner > img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin: auto;
  background-color: #eee;
}
#owner > p {
  margin: 20px auto 0 auto;
  color: #eee;
  font-size: 1.1rem;
}

#contact > ul {
  text-align: center;
  width: 100%;
  list-style: none;
  padding: 0;
  color: #eee;
  font-size: 0.9rem;
}
#contact > ul > h4 {
  color: grey;
  margin-bottom: 0;
}
#contact > ul > li {
  display: block;
}
#contact > ul > li > p {
  display: inline-block;
  margin: 15px 0;
  font-size: 0.9rem;
}

/*tab view*/
@media only screen and (min-width: 700px) {
  header {
    display: flex;
    flex-direction: row-reverse;
  }
  header > img {
    width:15%;
    margin-right: auto;
    margin-left: 2.5%;
  }
  .glasses > .categories > li {
    text-align: center;
    width: 20.5%;
  }
  #contact {
    display: flex;
    justify-content: center;
  }
  #contact > ul {
    text-align: left;
    width:40%;
    margin:0;
  }
  #contact > ul > li > p {
    font-size: 1rem;
  }
}
/*computer view*/
@media only screen and (min-width: 900px) {
  header {
    padding: 20px 5%;
  }
  header > img {
    width: 120px;
  }
  header > div > h2 {
    font-size: 2rem;
  }
  header > div > p {
    font-size: 1.3rem;
  }
  .glasses > .categories > li {
    width: 10.5%;
    margin:2.5%;
  }
  
  .c1 {
    display: flex;
    justify-content: space-between;
  }
  #owner {
    width:30%;
    padding: 0;
    margin: auto;
  }

  #contact {
    width:70%;
    margin:auto 0;
  }
  #contact > ul > h4 {
    text-align: left;
  }
  #contact > ul {
    text-align: left;
    width:50%;
  }

}
