html {
  user-select: none;
}
body {
  width:100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  width: 90%;
  padding:5%;
}
header > img {
  width: 20%;
  margin-right: 20px;
}
header > div > h2 {
  margin-bottom: 0;
  color: #f44336;
}
header > div > p {
  margin-top: 0;
  color: grey;
}

/*global style*/
.glasses {
  width: 90%;
  margin:0%;
  padding:5%;
}
.glasses > h2 {
  font-weight:500;
  margin: 10px 2.5%;
  text-align: center;
  color:grey;
}
/*global style end*/
.categories > ul {
  list-style: none;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin:0;
}
.categories > ul > li {
  width:40%;
  margin:5%;
  text-align: center;
}
.categories > ul > li > img {
  width: 100%;
}
.categories > ul > li > h4 {
  margin: 0 auto;
  color: grey;
  font-weight:lighter;
  font-size:1rem;
}
/*service*/
.service {
  background-color: #eee;
}
.service > h2 {
  color:black;
}
.service > ul {
  width:fit-content;
  margin:0 auto;
  padding:0;
}
.service  > ul > li {
  width: fit-content;
  display: block;
  margin:20px 0;
  font-size:1.1rem;
  word-wrap: none;
}
/*service end*/
/*brands*/
.brands > ul {
  text-align: center;
  list-style: none; 
  padding:0;
}
.brands > ul > li {
  display: inline-block;
  margin:2.5%;
}
/*brands end*/
footer {
  width:100%;
  margin-top: auto;
  background-color: #333;
}
footer > p {
  text-align: center;
  width:100%;
  margin:0;
  padding:20px 0;
  background-color: #1b1b1b;
  color: grey;
}
.c1 {
  width: 90%;
  padding:5%;
}
#owner {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 5%;
}
#owner > img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin: auto;
  background-color: #eee;
}
#owner > p {
  margin: 20px auto 0 auto;
  color: #eee;
  font-size: 1.1rem;
}

#contact > ul {
  text-align: center;
  width: 100%;
  list-style: none;
  padding: 0;
  color: #eee;
  font-size: 0.9rem;
}
#contact > ul > h4 {
  color: grey;
  margin-bottom: 0;
}
#contact > ul > li {
  display: block;
}
#contact > ul > li > p {
  display: inline-block;
  margin: 15px 0;
  font-size: 0.9rem;
}

/*tab view*/
@media only screen and (min-width: 700px) {
  header {
    display: flex;
    flex-direction: row-reverse;
  }
  header > img {
    width:15%;
    margin-right: auto;
    margin-left: 2.5%;
  }
  .categories > ul > li {
    text-align: center;
    width: 30%;
  }
  #contact {
    display: flex;
    justify-content: center;
  }
  #contact > ul {
    text-align: left;
    width:40%;
    margin:0;
  }
  #contact > ul > li > p {
    font-size: 1rem;
  }
}
/*computer view*/
@media only screen and (min-width: 900px) {
  header {
    padding: 20px 5%;
  }
  header > img {
    width: 120px;
  }
  header > div > h2 {
    font-size: 2rem;
  }
  header > div > p {
    font-size: 1.3rem;
  }
  .glasses > .categories > li {
    width: 10.5%;
    margin:2.5%;
  }
  
  .c1 {
    display: flex;
    justify-content: space-between;
  }
  #owner {
    width:30%;
    padding: 0;
    margin: auto;
  }

  #contact {
    width:70%;
    margin:auto 0;
  }
  #contact > ul > h4 {
    text-align: left;
  }
  #contact > ul {
    text-align: left;
    width:50%;
  }

}
