body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
header {
  padding: 5% 10%;
  margin-top:10px;
}
header > div > h2,
p {
  margin: 0;
}

.steps {
  margin: auto;
  max-width: 400px;
}
/*steps*/
form {
  width: 80%;
  padding:0 5%;
  max-width: 400px;
  margin: auto;
  border-radius: 5px;
}
form > .status > p {
  margin: 0;
  font-size: 0.8rem;
}
h3 {
  width:80%;
  margin:20px auto;
  max-width:400px;
  color: #333;
}
form > input::placeholder,textarea::placeholder {
  font-size:0.9rem;
}
form > input,
select,
textarea {
  width: 95%;
  padding: 3% 2.5%;
  background-color: transparent;
  margin: 0 0 10px 0;
  border: transparent;
  /*border: 2px solid #eee;
  border-radius: 5px;*/
  border-bottom:2px solid #eee;
  font-size: 1rem;
}
textarea {
  width: 95%;
  font-size: 1rem;
  font-family: sans-serif;
  height: auto;
}
form > label {
  display: block;
  color: grey;
  font-size: 0.9rem;
  margin: 10px 0 10px 0;
}
form > button {
  background-color: #f44336;
  color: white;
  width: 35%;
  font-size: 1rem;
  min-width: 120px;
  padding: 3% 2.5%;
  border-radius: 5px;
  border: transparent;
  margin: 15px 0 0 0;
}

/*image input*/
form > .file {
  color: grey;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 2.5%;
  position: relative;
  width: fit-content;
  margin:0;
}
form > .file > input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity:0;
}
