body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
h3,
h4,
.price {
  margin: 20px 10%;
  color: #333;
}
.images {
  width: 80%;
  padding: 20px 10%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.images::-webkit-scrollbar {
  display: none;
}
.images > img {
  width:50%;
}
.price {
  font-size: 1.2rem;
}
.product-detail {
  list-style: none;
  padding: 0;
  margin: 20px 10%;
}
.product-detail > li {
  margin: 10px 0;
  color: grey;
}
.product-detail > li > span:nth-child(2) {
  color: #333;
}
form {
  width: 80%;
  padding: 20px 5%;
  max-width: 400px;
  margin: auto auto 0 auto;
  border-radius: 5px;
}
form > button {
  background-color: #f44336;
  color: white;
  width: 35%;
  font-size: 1rem;
  min-width: 120px;
  padding: 3% 2.5%;
  border-radius: 5px;
  border: transparent;
  margin: 0;
}
