/*steps*/
.steps {
  list-style: none;
  display: flex;
  width: 80%;
  padding: 20px 5%;
  margin: 0 5%;
}
.steps > .step:nth-child(odd) {
  position: relative;
  text-align: center;
  width: 16px;
  height: 16px;
  padding: 5px;
  font-size: 1rem;
  border-radius: 100%;
  background-color: #eee;
  color: grey;
  transition: all 0.4s;
}
.steps > .step:nth-child(odd) > div {
  display: none;
  position: absolute;
  white-space: nowrap;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #333;
  top: -160%;
  left: -50%;
  transition: all 0.4s;
}
.steps > .step:nth-child(5) > div {
  left: -200%;
}
.steps > .step:nth-child(odd):hover > div {
  display: block;
}
.steps > .step:nth-child(odd):hover > div > p {
  position: relative;
  color: #eee;
  font-size: 0.8rem;
  margin: 0;
}
.steps > .step:nth-child(odd):hover > div > p > span {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  bottom: -65%;
  left: 10%;
  background-color: #333;
  transform: rotate(45deg);
}
.steps > .step:nth-child(5):hover > div > p > span {
  left: 60%;
}
.steps > .step:nth-child(even) {
  display: block;
  flex: 1;
  height: 3px;
  background-color: #eee;
  margin: auto 0;
}

/*when step completed*/
.steps > .step:nth-child(odd):hover > .completed {
  background-color: yellowgreen;
}
.steps > .step:nth-child(odd):hover > .completed > p {
  color: #eee !important;
}
.steps > .step:nth-child(odd):hover > .completed > p > span {
  background-color: yellowgreen;
}
.steps > .comp-step {
  background-color: yellowgreen !important;
  color: white !important;
}
.steps > .comp-path {
  background-color: yellowgreen !important;
  /*animation: progress 0.4s ease-in;*/
}

/*@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}*/
